{% extends "_baseLayout.html" %}

{% block content %}
<h2>Enter password for this note:</h2>
<form action="{{ noteUrl }}" method="post" class="note-password-form">
    <input id="password" name="password" placeholder="Enter your password here..."></input>
    <small id="password-error-message"></small>
    <input type="submit" value="OK" />
</form>
{% endblock %}

{% block scripts %}
<script>
    const form = document.querySelector('.note-password-form')
    const passwordInput = document.getElementById('password')
    function validatePassword(passwordInput) {
        const password = passwordInput.value.trim() || ''
        if (password.length === 0) {
            error('password', passwordInput, 'Password is required.')
            return false
        }
        if (password.length < 8) {
            error('password', passwordInput, 'Password cannot be less than 8 characters.')
            return false
        }
        return true
    }
    function validateForm() {
        let result = validatePassword(passwordInput)
        return result
    }
    function error(name, element, message) {
        const errorMessage = document.getElementById(name + '-error-message')
        if (!message) {
            errorMessage.hidden = true
            errorMessage.textContent = ''
            element.removeAttribute('aria-invalid')
            return
        } else {
            errorMessage.textContent = message
            errorMessage.hidden = false
            element.setAttribute('aria-invalid', 'true')
        }
    }
    form.addEventListener('submit', function (event) {
        if (!validateForm()) {
            event.preventDefault()
        }
    })
    passwordInput.addEventListener('input', function () {
        error('password', passwordInput)
    })
</script>
{% endblock %}

{% block backToHomePage %}
{% endblock %}